@import "./Assests/style.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  background: linear-gradient(132deg, #786a97, #020c16);
  background-size: 400% 400%;
  animation: BackgroundGradient 30s ease infinite;
}

@keyframes BackgroundGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.col-xl{
    padding: 30px 0;
}


